*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-color: lightgreen;
}

form{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 30%;
    padding: 15px;
    gap: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
select{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
form button{
    padding: 18px;
    margin-top: 10px;
    border: none;
    background-color: lightgreen;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}